////////////////////////////////////////////
//
//  Typography
$base-font-size: 16px;
$base-line-unit: 1.333;
$base-line-height: $base-font-size * $base-line-unit;

$rhythm-unit: "em";
$round-to-nearest-half-line: true;

$h1: 3.157;
$h2: 2.369;
$h3: 1.777;
$h4: 1.333;
$h5: 1;
$h6: .75;

////////////////////////////////////////////
//
//  Grid

$grid__gutter__width: rhythm(.5);

$grid__container__width: 70em;


////////////////////////////////////////////
//
//  Color

$orange: #f47422;
$grey--dark: #221f1f;
$grey--light: #c9c8c8;

$primary__color: $orange;
$neutral__color: $grey--dark;
$neutral__color--light: $grey--light;

$nav--primary__bg: white;
$nav--secondary__bg: $neutral__color;

$nav__link__color: $neutral__color;
$nav__link__color--hover: $primary__color;

$nav__search__bg: darken($neutral__color, 10%);
$nav__search__color: $neutral__color--light;

$hero__aside__color: white;

$heading--primary__color: $primary__color;
$heading--secondary__color: $neutral__color;

$site__footer__bg: $primary__color;