////////////////////////////////////////////
//
//  Typography
$base-font-size: 16px;
$base-line-unit: 1.333;
$base-line-height: $base-font-size * $base-line-unit;

$rhythm-unit: "em";
$round-to-nearest-half-line: true;

$h1: 3.157;
$h2: 2.369;
$h3: 1.777;
$h4: 1.333;
$h5: 1;
$h6: .75;