%grid__box-sizing {
	@include box-sizing(border-box);
}

%grid__clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

.container {
	@extend %grid__box-sizing;
	@extend %grid__clearfix;
	margin: 0 auto;
	padding: 0 $grid__gutter__width;
	max-width: $grid__container__width;
	min-width: 320px;
	position: relative;
}

.grid {
	@extend %grid__box-sizing;
	@extend %grid__clearfix;
	margin: 0 $grid__gutter__width * -1;
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}
[class*="grid__col"] {
	@extend %grid__box-sizing;
	padding: 0 $grid__gutter__width;
	@include margin-leader(2);
	@include media(tablet) {
		float: left;
	}
}

@include media(tablet) {
	.grid__col--2 {
		width: percentage(2/6);
	}
	.grid__col--3 {
		width: percentage(3/6);
	}
	.grid__col--4 {
		width: percentage(4/6);
	}
}
.media {

}
.media__image {
	float: left;
}
.media__content {
	display: table-cell;
	width: 10000px;
}





