// http://nicolasgallagher.com/flexible-css-cover-images/
.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
    padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
    padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
    padding-bottom: 75%;
}

.hero {
    position: relative;
}

.hero__banner {
    background-image: url("../img/landing/banner.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    min-width: 320px;
    min-height: 400px;
    @include media(tablet) {
        max-height: 600px;
    }
}

.hero__aside {
    color: $hero__aside__color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    .heading + .heading {
        @include margin-leader(1);
    }
    .btn {
        border: rhythm(.1) solid;
    }
    float: right;
    width: percentage(1/1);
    text-align: right;
    @include media(tablet) {
        text-align: left;
        width: percentage(3/6);
    }
    @include media(desktop) {
        text-align: left;
        width: percentage(2/6);
    }
}

.hero__container {
    position: absolute;
    width: 100%;
    top: rhythm(1);
    @include media(tablet) {
        top: rhythm(3);
    }
    @include media(desktop) {
        top: rhythm(5);
        left: 50%;
        margin-left: $grid__container__width/2 * -1;
        width: $grid__container__width;
    }
}