.image {
	max-width: 100%;
}
.image--logo-h {
	@extend .image;
}
.image--logo-v {
	@extend .image;
	@include margin-trailer(2);
}
.image--icon {
	@extend .image;
	padding-right: rhythm(1);
	position: relative;
	top: rhythm(.5) * -1;
}