.site__header {

}
.site__content {
	// @include rhythm-padding(2);
}
.site__footer {
    font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: $site__footer__bg;
	@include margin-leader(4);
	@include rhythm-padding(2,3);
	nav {
		li:not(:first-child):before {
			content: "| ";
		}
	}
}