.nav {
}

.nav--primary {
	// @extend .nav;
	background-color: $nav--primary__bg;
	@include rhythm-padding(1.25);
	> .container > .nav__list {
		font-size: .85em;
	}
	.nav__item {
		display: block;
		@include media(tablet) {
			display: inline-block;
		}
	}
	.nav__link {
		color: $nav__link__color;
		&:hover, &:active, &:focus {
			color: $nav__link__color--hover;
		}		
	}
	.nav__list--collapse {
		.nav__link {
			@include padding-leader(.5);
			@include media(tablet) {
				@include padding-leader(0);
			}
		}
	}
}

.nav--secondary {
	// @extend .nav;
	color: darken(white, 10%);
	background-color: $nav--secondary__bg;
	@include rhythm-padding(.5);
	.nav__list {
		font-size: .75em;
	}
	.nav__link {
		&:hover, &:active, &:focus {
			color: white;
		}
	}
}

.nav__list {
	list-style: none;
	float: right;
	height: auto!important;
}
.nav__list--collapse {
	text-align: right;
	// display: none;
	@include media(tablet) {
		display: block;
	}
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
	&:not(:first-child) {
		margin-left: rhythm(1.5);
	}
	&.hide--tablet {
		display: none;
		@include media(tablet) {
			display: inline-block;
		}
	}
}

.nav__item--search {
	@extend .nav__item;
	position: relative;
	&:after {
		color: $nav__search__color;
		font-family: 'FontAwesome';
		content: "\f002";
		position: absolute;
		right: rhythm(.75);
		top: rhythm(.2);
	}	
}

.nav__item--collapsed {
	.nav__link {
		text-align: right;
		display: block;
		@include media(tablet) {
			display: none;
		}
		color: $primary__color;
		&.collapsed {
			color: $neutral__color;
		}
	}
}

.nav__link, .nav__search {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: rhythm(.05);
}


.nav__search{
	color: $nav__search__color;
	background-color: $nav__search__bg;
	border: 0 none;
	@include border-radius(rhythm(.2));
	padding: rhythm(.35) rhythm(.5);
	max-width: rhythm(6);

}

.nav__logo {
	position: absolute;
	top: rhythm(.15) * -1;
	left: $grid__gutter__width;
	img {
		width: rhythm(9);
		@include media(nav__logo) {
			display: block;
		}
	}
}